# Windows Subsystem for Linux (WSL2)
WSL2_USER="SAMPLE_USER"
WSL2_PW="SAMPLE_PW"

# MODE A (OPTIMISTIC) - BASE Network
BASE_EXECUTION_RPC="https://base-mainnet.g.alchemy.com/v2/SAMPLE_API_KEY,
                    https://base-mainnet.infura.io/v3/SAMPLE_API_KEY,
                    https://open-platform.nodereal.io/SAMPLE_API_KEY/base,
                    https://base-mainnet.gateway.tatum.io,
                    https://rpc.ankr.com/base,
                    https://base.publicnode.com"

BASE_CONSENSUS_RPC="https://eth-mainnet.g.alchemy.com/v2/SAMPLE_API_KEY,
                    https://mainnet.infura.io/v3/SAMPLE_API_KEY,
                    https://eth-mainnet.nodereal.io/v1/SAMPLE_API_KEY,
                    https://ethereum-mainnet.gateway.tatum.io,
                    https://cloudflare-eth.com,
                    https://ethereum-rpc.publicnode.com,
                    https://rpc.ankr.com/eth"

# MODE B (ATTESTED) - ETH Network
ETH_EXECUTION_RPC="https://eth-mainnet.g.alchemy.com/v2/SAMPLE_API_KEY,
                   https://mainnet.infura.io/v3/SAMPLE_API_KEY,
                   https://eth-mainnet.nodereal.io/v1/SAMPLE_API_KEY,
                   https://ethereum-mainnet.gateway.tatum.io,
                   https://cloudflare-eth.com,
                   https://eth.llamarpc.com,
                   https://ethereum-rpc.publicnode.com,
                   https://rpc.ankr.com/eth"

ETH_CONSENSUS_RPC="https://lodestar-mainnet.chainsafe.io,
                   https://eth2-beacon-mainnet.nodereal.io/v1/SAMPLE_API_KEY,
                   https://ethereum-mainnet.gateway.tatum.io,
                   https://ethereum-beacon-rpc.publicnode.com,
                   https://eth-beacon-chain.drpc.org,
                   https://beaconstate.ethstaker.cc,
                   https://www.lightclientdata.org"

# MODE C (PROOF) - BTC NETWORK
BTC_NETWORK_RPC="https://bitcoin-mainnet.gateway.tatum.io,
                 electrum.blockstream.info:50002,
                 bitcoin.lu.ke:50002,
                 alvey.pissedoff.net:50002,
                 electrum.emzy.de:50002,
                 electrum.jochen-hoenicke.de:50006,
                 fortress.qtornado.com:443"

# GLOBAL API KEYS
TATUM_API_KEY="SAMPLE_TATUM_API_KEY"