# Windows Subsystem for Linux (WSL2)
WSL2_USER=
WSL2_PW=

# MODE A (OPTIMISTIC) - BASE Network
BASE_EXECUTION_RPC="https://base-mainnet.g.alchemy.com/v2/SAMPLE_KEY,https://base-mainnet.infura.io/v3/SAMPLE_KEY,https://open-platform.nodereal.io/SAMPLE_KEY/base,https://rpc.ankr.com/base,https://base.publicnode.com"
BASE_CONSENSUS_RPC="https://eth-mainnet.g.alchemy.com/v2/SAMPLE_KEY,https://mainnet.infura.io/v3/SAMPLE_KEY,https://eth-mainnet.nodereal.io/v1/SAMPLE_KEY,https://cloudflare-eth.com,https://ethereum-rpc.publicnode.com,https://rpc.ankr.com/eth"

# MODE B (ATTESTED) - ETH Network
ETH_EXECUTION_RPC="https://eth-mainnet.g.alchemy.com/v2/SAMPLE_KEY,https://mainnet.infura.io/v3/SAMPLE_KEY,https://eth-mainnet.nodereal.io/v1/SAMPLE_KEY,https://cloudflare-eth.com,https://eth.llamarpc.com,https://ethereum-rpc.publicnode.com,https://rpc.ankr.com/eth"
ETH_CONSENSUS_RPC="https://lodestar-mainnet.chainsafe.io,https://eth2-beacon-mainnet.nodereal.io/v1/SAMPLE_KEY/eth/v1,https://ethereum-beacon-rpc.publicnode.com,https://eth-beacon-chain.drpc.org,https://beaconstate.ethstaker.cc,https://www.lightclientdata.org"