# Windows Subsystem for Linux (WSL2)
WSL2_USER=
WSL2_PW=

# MODE A (OPTIMISTIC) - BASE Network
BASE_EXECUTION_RPC="https://mainnet.base.org"
BASE_CONSENSUS_RPC="https://base-light-client-endpoint.com"

# MODE B (ATTESTED) - ETH Network
ETH_EXECUTION_RPC="https://eth-mainnet.g.alchemy.com/v2/SAMPLE_KEY"
ETH_CONSENSUS_RPC="https://www.lightclientdata.org"